.mp-list-container
  - if products.any?
    .scroller.products-container
      - products.each do |product|
        - unless product.unpublished?
          = render 'subscriber/library/products/product_in_list', product: product
    #compare-dialog{:title => "Maximum products selected"}
      %p You may compare up to three products at a time. If you wish to compare more, you can export or print the comparisons.
    .compare-dialog-container

    :javascript
      initializeLibraryCompareToolbarFunctions();
  - else
    = render 'subscriber/library/landing/empty_library'